@page
@model AspNetCore_RazorPages.Pages.Modul01.Calc2Model
@{
    ViewData["Title"] = "Calc2";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Calc2</h1>

<!-- Beispiel wie man mehere Button mithilfe eines aps-page-handler verwalten kann-->
<form method="post">
    <input name="eins" /> <br />
    <input name="zwei" /> <br />
    <button type="submit" asp-page-handler="plus">+</button>
    <button type="submit" asp-page-handler="minus">-</button>
    @Model.Ergebnis

</form>