
@{
    ViewData["Title"] = "TempDataSecond";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TempDataSecond</h1>

CoronaID : @ViewBag.CoronaID

CoronaID : @ViewBag.CoronaID

<p>TempData</p>
@TempData["UserId"]
@TempData["UserId"]