
@{
    ViewData["Title"] = "PartialViewBasicSample";
}

<h1>PartialViewBasicSample</h1>

<partial name="_Zeit" />

@*@{
        Html.RenderPartial("_Zeit");
    }*@

<!-- Absoluter Pfad zur PartialView-->
@*<partial name="~/Views/Shared/_Zeit.cshtml" />*@

<!-- relativer Pfad zur PartialView-->
@*<partial name="../Blog/_Zeit.cshtml" />*@

